<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.mariadb.jdbc">
	<resources>
		<resource-root path="mariadb-java-client-{{ wildfly_mariadb_connector_j_version_actual }}.jar"/>
	</resources>
	<dependencies>
		<module name="javax.api"/>
		<module name="javax.transaction.api"/>
		<!--<module name="javax.servlet.api" optional="true"/>-->
	</dependencies>
</module>
